# amiga_diag5.cfg
# Identificar destino de las escrituras "no-ROM"
# Sustituye READY (siempre 1), SEL_CIAA (siempre 0), OVERLAY (siempre 0)

puerto      /dev/ttyUSB1
baud        2000000
test        false
consola     false

trigger     manual
trigger_ch  CH00

zoom        0.92
zoom_min    0.01
pan_fraction 0.125
ch_height   60.0
sample_freq 28375000

CH00    PHI1      internal_0    true     # reloj
CH01    AS        internal_2    false    # ciclo activo
CH02    RW        internal_3    false    # 1=read 0=write
CH03    DTACK     internal_4    false    # respuesta del bus
CH04    SEL_ROM   internal_7    false    # acceso a ROM
CH05    SEL_RAM   internal_8    false    # acceso a Chip RAM ← NUEVO
CH06    RAM_WE0   internal_14   false    # escritura byte bajo a RAM ← NUEVO
CH07    RAM_WE1   internal_15   false    # escritura byte alto a RAM ← NUEVO
