# mezcla.cfg

# ── CONEXIÓN ────────────────────────────────────────────
puerto      /dev/ttyUSB0
baud        2000000

# ── CAPTURA ─────────────────────────────────────────────
test        false
consola     false

# ── TRIGGER ─────────────────────────────────────────────
trigger     falling
trigger_ch  CH02

# ── VISUALIZACIÓN ───────────────────────────────────────
zoom        0.90
zoom_min    0.001
pan_fraction 0.125
ch_height   70.0
sample_freq 28328980


CH00 CLK     gpio_4      true
CH01 DATA    gpio_5      false
CH02 A internal_0  false
CH03 B internal_1  false
CH04 C internal_2  false

